.header {
    max-width: 1184px;
    min-height: 52px;
    padding-top: 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 48px;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 0 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 288px;
        margin: 0 16px; 
        padding-top: 16px;
    }
}
