.place__link {
    max-width: 456px;
    min-height: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration-line: underline;
    transition: opacity .2s ease-in-out;
}

.place__link:hover {
    opacity: .7;
}