.page__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
    box-sizing: border-box;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .page__footer {
        max-width: 928px;
        margin-top: 92px;
    }
}

@media screen and (max-width: 767px) {
    .page__footer {
        max-width: 720px;
        margin-top: 88px;
        flex-direction: column;
    }
}


