.place__link {
    max-width: 456px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration-line: underline;
    transition: opacity .2s ease-in-out;
}
