.place {
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas: 
    "title url"
    "image text";
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    width: 100%;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        max-width: 928px;
        margin-bottom: 80px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin: 0 auto;
        margin-bottom: 50px;
        grid-template-columns: minmax(320px, 288px);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
        display: flex;
        flex-direction: column;
    }
}

